{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "YOUR_FUNCTIONS_STORAGE_ACCOUNT_CONNECTION_STRING",
    "FUNCTIONS_WORKER_RUNTIME": "dotnet",
    "storage_account_connection_string": "YOUR_BLOB_CONTAINERS_STORAGE_ACCOUNT_CONNECTION_STRING",
    "input_container_name": "YOUR_INPUT_CONTAINER_NAME",
    "output_container_name": "YOUR_OUTPUT_CONTAINER_NAME"
  }
}